name: _flutter
description: A new Flutter project.

version: 1.0.0+1

environment:
  sdk: ">=2.2.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  image_picker: ^0.6.0+1
  http: ^0.12.0+1
  rxdart: ^0.21.0
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  assets:
    - assets/cocktail_example.jpg

  uses-material-design: true
